<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location" autofocus>
            <button>Search</button>
        </form>
        <div class="weekly-messages">
            <p id="message-1"></p>
            <div class="indented">
                <p id="message-2"></p>
                <p id="message-3"></p>
                <p id="message-4"></p>
                <p id="message-5"></p>
                <p id="message-6"></p>
                <p id="message-7"></p>
            </div>
        </div>
    </div>

    {{>footer}}
    <script src="/js/app-weekly.js"></script>
</body>

</html>