body {
    background-image: url("../img/80489d1dbd444a22b6757dee9f60b6c1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    color: #ffffff;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    text-shadow: 1px 1px 2px black; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #ffffff;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    text-align: center;
}

header a {
    color: #ffffff;
    border-bottom: solid;
    padding: 10px;
    border-radius: 20%;
    margin-right: 32px;
    text-decoration: none;
}

.messages {
    margin: 45px 0 0 45px;
}
#message-1 {
    font-size: 40px;
}

.indented {
    margin: 70px 50px 50px 50px;
}
.indented p {
    border-bottom: solid;
    border-width: 1px;       
}

.indented p:empty {
    border: none;
}

.portrait {
    width: 250px;
}

input {
    width: 300px;
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

